body{
    margin: 0;
}
.block{
position: center;
    top: 0;
}
.block-1{

    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    width: 500px;
    background: #428bca;
    max-height: 1000px;
    min-height: 400px;

}
.block-2{
position: absolute;
    left: 510px;
    top: 0;
    height: 1010px;
    width: 500px;
    background: #ee5555;
    max-height: 1000px;
    min-height: 400px;
}
.block-3{
    position: absolute;
    top: 0;
    right: 0px;
    float: right;
    height: 1000px;
    width: 500px;
    background: aquamarine;
    max-height: 1000px;
    min-height: 400px;
}

