.svi {
    display: inline-block;
}
.svi [type="checkbox"]{
    display: none;
}
.svi span{
    display: block;
    padding: 10px;
    border: 2px solid #e55;
    color: #e55;
    cursor: pointer;
}
.svi:checked~span{
    color: #428bca;
    backdrop-color:red;
}
.svi:before{
    content: attr(p);


}