
#menu
{
    margin: 0;
    padding: 0;
    position: absolute;
}
#menu>li{
    list-style:none;
    width: 300px;
    background: aqua;
    color: red;
    padding: 5px;
    float: left;

}
li>ul
{
    list-style: none;
    border-bottom: 1px solid #111;

}
li>a{
    display: block;
}