.toggle-button {}

.toggle-button__text {
    padding: 5px 20px;
    background-color: #99f;
}

.toggle-button__checkbox {
    display: none;
}

.toggle-button__text:active{
     background-color: rgba(90, 60, 90);
 }