body{
    background-image: url("https://64.media.tumblr.com/7918ca72d8cb3566a37fbd627dcb24ac/tumblr_oupo142eEs1slhhf0o1_1280.jpg");
    margin-top: 150px;
    padding: 10px;
    height: 100%;
    background-size: cover;
    max-height: 800px;



}
h1{
    display: flex;
    justify-content: center;
    top: 120px;
}
.text  {
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p,h1{
    font-family: "Corbel Light";
    font-size: 25px;
    cursor: pointer;
    color: whitesmoke;
}
