body{
  background: darkgray;
  border: 5px double black;

}
h1{
  margin-left: 500px;
  margin-top: 50px;
}
h2{
  margin-left: 500px;
}
p{
  margin-left: 100px;
}
ul{
  list-style-type: none;
  margin-left: 400px;

}
a{
  text-decoration: none;
  color: black;
  font-size: 30px;

}
li{
  border: 20px;
  border-color: aqua;
}
