body{
  background: darkgray;
  border: 5px double black;
  border-radius: 15px;

}
h1{
  margin-left: 500px;
  margin-top: 50px;
}
h2{
  margin-left: 500px;
}
p{
 margin-left: 300px;
  font-family: "Times New Roman" ;
  font-size: 14pt;
}
ul{
  list-style-type: none;
  margin-left: 400px;

}
a{
  text-decoration: none;
  color: black;
  font-size: 30px;


}
li{
  border: 30px;


}.index{
  margin-bottom:10px;
  margin-left: 100px;
 }


