form{
  margin: 500px;
}
[type="button"]{
  background: yellow;
  transition: 9999999999999s;
  width: 200px ;
  cursor: pointer;
  transition: 10s;
}

[type="button"]:active{
  background: darkorange;
  transition: 0s;
  transform: scale(1.6);
  cursor: pointer;
}





