body{
background: lightslategray;
}
H1{
    margin-left: 400px;
    margin-right: 800px;
    font-family: cursive;

}
header {
    background: rgb(2.2.222);

    margin-right: 200px;
    margin-left: 200px;
    border: 500px;
}
p{
    color: orangered;
    font-family: cursive;
    font-size: 2ex;
}
a{
    text-decoration: none;
    color: orangered;
}
li{
    list-style-type:none;
}
footer
{
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 800px;
    font-family: cursive;
}