body{

    background: lightslategray;
}
H1{
    margin-left: 300px;
    margin-right: 800px;
    font-family: cursive;
    color: orangered;



}
header {


    border-color: orangered;
    background: lightsteelblue;
    margin-left: 300px;
    margin-right: 300px;

}
textarea
{
    resize: none;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: orangered;
}
li{

    list-style-type:none;

}
.image{
    margin-left: 100px;
    margin-right: 200px;

}
footer
{
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 800px;
    font-family: cursive;
    color: orangered;
}