body{

    background: lightslategray;
}
h1{
    font-family: cursive;
}

header {
    background: lightsteelblue;
    margin-top: 200px;
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    font-family:cursive ;
}
footer
{
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 800px;
    font-family: cursive;
}