.Burger{
    margin: -32px auto;
    width: 320px;
    background: #ff0000;
    position: absolute;
    color: white;
    text-align: center;
    height: 40px;
}
#check-menu{
    display: none;
}
label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}
.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width:35px ;
    height: 2px;
    background-color: #357ebd;

}
.burger-line two .burger-line thre{
    top: 18px;
}
.for{
    top: 28px;
}
.main-menu{
    display:block ;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
}
.burger_menu{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #e30808;
}
#check-menu:checked~.main-menu{
    max-height: 500px;
    font-size: 16px;

}
