
.job{
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navigation{
  display: flex;
  flex-flow: wrap;
  margin: 30px 30px 20px 20px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;



}
.reg-ent{
  margin: 20px 0px 5px 0px;
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content:center ;


}
.register{
  display: flex;
  background: white;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
}
.enter{
  display: flex;
  background: white;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;

}

