body {
  background: rgb(247, 252, 255);
  margin: 0;


}

.Title-1 {
  color: red;
}

.time_work {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
}

.time_work li {
  color: red;
}

.work {
  font-size: 14px;
}


h1 {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: red;
  text-shadow: 1px 1px 1px white;

}

.menu_img {
  height: 250px;
  width: 250px;
}


li {
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  margin: 15px;
  text-shadow: 5px 5px 5px white;
}

.buscket {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
}

button {
  border: 1px solid black;
  width: 95px;
  height: 50px;
  background: white;
  outline: none;


}

button:hover {
  background: darkorange;
}


.navigation {
  display: flex;
  flex-flow: row nowrap;
  text-shadow: 1px 1px 1px 1px white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

.navigation a {
  color: red;
}

.Burger {
  display: none;
}


.menu {
  background: rgb(247, 252, 255);
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 4px;

}

img {
  border: 1px;
  border-radius: 20px;
  margin: 10px 0 5px 0;

}


p {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: cursive;
}


a {
  text-decoration: none;
  color: black;
}

select {
  margin: 20px;
  display: flex;
}

.submit {
  display: flex;
  justify-content: center;
  background: white;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  outline: none;

}

.submit:hover {
  background: darkorange;
  cursor: pointer;


}

header {
  background: url("../img/assorti-khachapuri-khinkali-baklazhany-miaso-dolma-kinza-pom.png");
  background-attachment: fixed;
  margin: 0 auto;

}


.number {
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0 7px 0;
  outline: none;


}


.shop {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0;


}


footer {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  clear: both;
  margin-top: 4px;
  margin-top: 100px;

}

hr {
  border: none;
  background-color: black;
  color: black;
  height: 2px;
}

.map-contakt {
  display: flex;
  margin: 10px;
  align-items: flex-start;
  border: 1px solid white;
  border-radius: 20px;
}

.adres {
  display: flex;
  flex-direction: column;
  margin: 0 12px 0;
}

iframe {
  margin: 0 20px 0;
}


.footer-navigation {
  font-size: 15px;
  margin-bottom: -15px;


}

.footer-menu {
  display: flex;
  margin-top: -114px;
  justify-content: flex-start;
}

.menu-block {
  margin: 10px;
  padding: 10px;
  border: 1px;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 20px;
}


.job {
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.reg-ent {
  margin: 20px 0 5px 0;
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.menu-block:hover {
  transform: scale(1.2);
  background: rgb(247, 252, 255);

}


.register {
  display: flex;
  background: white;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
}

.enter {
  display: flex;
  background: white;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
}

.tel {

  color: black;
  font-size: 20px;
  font-family: 'Pacifico', cursive;


}

.mts_logo {
  margin: 1px;

}

.life_logo {
  margin: 1px;

}

.submit-form:hover {
  background: darkorange;
  cursor: pointer;
}

.submit-form {
  margin: 10px;
  font-size: 15px;
  font-family: 'Pacifico', cursive;
  border: 2px solid black;
  height: 70px;
  width: 100px;


}

h6 {
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.social-networks {
  display: flex;
  align-items: flex-start;
}

.adres\/text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

[type="text"] {
  height: 100px;
  width: 250px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px green solid;
}

[type="tel"] {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px green solid;
}

[type="email"] {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px green solid;
}

[type="password"] {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px green solid;
}

.call-footer {

  display: flex;
  margin-top: -80px;
}

.vk, .insta, .telega {
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.buscket_buy {
  display: flex;
  justify-content: center;
  border: 5px dotted black;
  background: white;
  margin: 0 150px 0 150px;
}

.online-check {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;

}

.check {
  margin: 0;
  left: 0;
}

.check_list {
  margin: 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px dotted black;

}

.Window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.Window:target {
  display: block;
  pointer-events: auto;
}

.Window > div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 0 0 20px 2px;
}

.close {
  background: #cc3300;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #990000;
}


.Burger {
  margin: -100px auto;
  margin-bottom: 4px;
  width: 50px;
  background: #fcfcfc;
  border: 1px solid black;
  position: absolute;
  color: black;
  text-align: center;
  height: 40px;
  border-radius: 20px;
}

#check-menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 3;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #357ebd;

}

.burger-line_two .burger-line_thre {
  top: 18px;
}

.for {
  top: 28px;
}

.main-menu {
  margin: 10px;
  display: flex;
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: #ffffff;
  flex-direction: column;
  transform: translateX(50%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
}

.main-menu a {
  border-bottom: 1px black solid;
  line-height: 30px;
}

.burger_menu {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, .3);
  background-color: #030101;
}

#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;

}

footer .information-restoran {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 3px;

}

.information-restoran p {
  display: flex;
  font-size: 15px;

}

/* Адаптив */
@media (max-width: 767px) {

  .navigation {
    display: none;

  }

  .menu {
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    overflow-x: hidden;


  }

  .menu-block {
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    overflow-x: hidden;
    transform: none;
  }

  .menu-block:hover {
    transform: scale(0);
  }

  select {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    height: 20px;

  }


  .shop {
    display: flex;
    align-self: flex-end;
    margin: 0 auto;


  }

  .Burger {
    display: flex;
    align-items: flex-start;


  }

  .buscket {
    display: flex;
    align-items: flex-end;
  }

  p {
    display: flex;
    justify-content: flex-start;
  }

  h1 {
    display: flex;
    top: 0;
    align-items: center;
    margin: 35px;
  }

  .footer-menu .nav-footer\> {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;

  }

  .job {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    border: 0;
  }

  .map-contakt {
    margin-top: 50px;
  }

  .buscket_buy {
    height: 250px;
    width: 180px;
    margin: 0 auto;
  }

  @media (min-width: 320px) {

    .menu-block {
      margin: 10px;
      display: flex;
      border-radius: 0;
      width: 234px;
      box-shadow: none;
      border-bottom: 1px solid black;
    }

    select {
      display: flex;
      position: relative;
      justify-content: center;
    }

    .menu-block {
      grid-auto-flow: dense;
    }

    .shop {
      display: flex;

    }

    .Title-1 {
      font-size: 15px;
    }

    .menu_img {
      margin: 10px;
      height: 100px;
      width: 100px;
    }

    .footer-menu {
      display: flex;
      flex-direction: column;
    }

    .time_work {
      display: none;
    }
  }
}

