.like {
  display: inline-block;
  background: gray;
}

.like [type="checkbox"] {
  display: none;

}


.like span:hover {
  display: block;
  color: white;
  background:blue;
}

.like :checked~span {
  color: #fff;
  background-color: #e55;
}
