body{
  margin: 20px;
}
h1{
  display: block;
  position: relative;
  top: 200px;
  left: 800px ;
}
.photo{
  display: block;
  position: relative;
  left: 200px;
  border-radius: 500px;
}
header{
  background: #b3aeae;
}
.navigation{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  left: 800px;
}
.navigation li{
  list-style: none;
  margin: 10px;
}
.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact li{
  list-style: none;
  margin: 10px;

}

