body {
  margin: 10px;

}

header {
  background: #555555;


}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.list {
  background: silver;
  list-style: none;
}

.list_1 {
  list-style: none;
  margin: 10px;
}
hr{
  height: 2px;
  border: none;
  background-color: black;
  color: black;
}

.about_us {
  margin: 0 auto;
  width: 600px;
  display: flex;
  justify-content: center;
}

.menu_hover {
  display: block;
  z-index: 3;
  position: absolute;
  left: 50px;
  top: 150px;
}

.menu_hover_2 {
  display: block;
  z-index: 3;
  position: absolute;
  left: 200px;
  top: 150px;
}

label {
  display: block;
  width: 100px;
  cursor: pointer;
  line-height: 40px;
}

#check {
  display: none;
}

.menu {
  display: none;
  position: relative;
  width: 150px;
  left: 0;


}

#check:checked ~ .menu {
  display: block;
  background: white;
  transform: translateX(-21%);
  transition-duration: 2s;

}

#check_2 {
  display: none;
}

.menu_2 {
  display: none;
  position: relative;
  width: 200px;
  left: 0;


}

#check_2:checked ~ .menu_2 {
  display: block;
  background: white;
  transform: translateX(-21%);
  transition-duration: 2s;

}

a {
  text-decoration: none;
  color: black;


}

.list_footer {
  display: flex;
  margin: 20px;
  justify-content: left;
  flex-flow: nowrap;
}


.block_reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  margin: 60px 10px 10px 400px;

}

h3 {
  display: flex;
  justify-content: center;
}

.review {
  display: flex;
  position: relative;
  flex-flow: nowrap;
  margin: 20px;
}

span {
  display: block;
  margin: 10px;
}

textarea {

  resize: none;
  width: 200px;
  height: 100px;
}

.mobile {
  display: flex;
  justify-content: center;
  margin: 50px;
}

footer {
  background: #888888;
  display: flex;
  flex-direction: row;
}
.pay{
  margin: 20px;
}
.pasport{
  margin: 20px;
  justify-content: right;
}
